img{
    height: 200px;
}

body{
    padding-left: 20%;
    padding-right: 20%;
}

.flexbox{
    display: flex;
    flex-direction: row;
}



.name{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
.aside{
    margin-top: 2%;
    margin-left:40% ;
}

.title{
    margin-top: 40px;
    font-family: 'Roboto Slab', serif;
    border: 2px solid black;
    padding: 1%;
    background-color: rgb(207, 204, 204);
    box-shadow: 2px 2px 2px 2px grey;
}

.asideEducation{
    list-style: none;
    margin-left:200px;
}
.marginTop{
    margin-top: 10px;
}

@media (max-width: 600px) {
    .flexbox{
        display: flex;
        flex-direction: column;
    }
    .aside{
        margin-top: 2%;
        margin-left:0 ;
    }
    .asideEducation{
        list-style: none;
        margin-left:0 ;
    }
  }